#Experiment-9
##Study of Pandas library
##Ayush Dumbre
##PRN-25070123029
##ENTC;A-2

In [ ]:
#Series
import pandas as pd

s = pd.Series([1, 3, 5, 6, 8])
print(s)

0    1
1    3
2    5
3    6
4    8
dtype: int64

In [ ]:
#Create DataFrame
import pandas as pd
data ={
    "Name":["A","B","C","D","E","F","G","H","I","J"],
    "Marks":[85,90,78,92,88,75,95,81,89,72]
}
df = pd.DataFrame(data)
print(df)

  Name  Marks
0    A     85
1    B     90
2    C     78
3    D     92
4    E     88
5    F     75
6    G     95
7    H     81
8    I     89
9    J     72

In [ ]:
from IPython.display import display

display(df.head())
display(df.tail())

  Name  Marks
0    A     85
1    B     90
2    C     78
3    D     92
4    E     88

  Name  Marks
5    F     75
6    G     95
7    H     81
8    I     89
9    J     72

In [ ]:
#Shape(rows,columns)
df.shape

(10, 2)

In [ ]:
#Dimension
df.ndim

2

In [ ]:
#Size(rows*column)
df.size

20

In [ ]:
#Display Column Names
df.columns

Index(['Name', 'Marks'], dtype='object')

In [ ]:
#Check data types in each column
df.dtypes

Name     object
Marks     int64
dtype: object

In [ ]:
#Access individual column
df["Name"]

0    A
1    B
2    C
3    D
4    E
5    F
6    G
7    H
8    I
9    J
Name: Name, dtype: object

In [ ]:
#Access Specific row
df.loc[5]

Name      F
Marks    75
Name: 5, dtype: object

In [ ]:
#Add a new column
df["Grade"]= ["First class","Distinction","Second class","First class","Distinction","Second class","First class","Distinction","Second class","First class"]
df

  Name  Marks         Grade
0    A     85   First class
1    B     90   Distinction
2    C     78  Second class
3    D     92   First class
4    E     88   Distinction
5    F     75  Second class
6    G     95   First class
7    H     81   Distinction
8    I     89  Second class
9    J     72   First class

In [ ]:
#Update data in DataFrame
#Change marks of student A to 67
df.loc[0,"Marks"]=67
df

  Name  Marks         Grade
0    A     67   First class
1    B     90   Distinction
2    C     78  Second class
3    D     92   First class
4    E     88   Distinction
5    F     75  Second class
6    G     95   First class
7    H     81   Distinction
8    I     89  Second class
9    J     72   First class

In [ ]:
#Delete a column
df.drop("Grade", axis=1, inplace=True)
df

  Name  Marks
0    A     67
1    B     90
2    C     78
3    D     92
4    E     88
5    F     75
6    G     95
7    H     81
8    I     89
9    J     72

In [ ]:
#Perform basic statistiscal analysis
mean1=df["Marks"].mean()
mean1

np.float64(82.7)

In [ ]:
min1=df["Marks"].min()
min1

67

In [ ]:
max1=df["Marks"].max()
max1

95

In [ ]:
#Apply condition(flitering)
#Display students scoring more than 80

df[df["Marks"] > 80]
df

  Name  Marks
0    A     67
1    B     90
2    C     78
3    D     92
4    E     88
5    F     75
6    G     95
7    H     81
8    I     89
9    J     72